@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap');

* {
    margin: 0;
    padding: 0;
}

header{
    width: 100%;
    margin: 0 auto;
}

nav {
    width: 100%;
    overflow: hidden;
    height: 80px;
    line-height: 80px;
    background: rgb(225, 6, 0);
}
.logo{
    float: left;
}
.nav__links{
    float: left;
}

.nav__links li {
    float:left;
    width: 120px;
    height: 80px;
    line-height: 80px;
    text-align: center;
    list-style: none;
}

.nav__links li a {
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.nav__links li:hover {
    background: rgb(51,51,51);
}
a{
    color:white;
    text-decoration: none;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}

.dodajBtn{
    position: absolute;
    left:1335px;
    top:0px;
    width:84px;
    height:80px;
    background-color: rgb(225, 6, 0);
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.dodajBtn:hover{
    background: rgb(51,51,51);
}
.wyszukajBtn{
    position: absolute;
    left:1425px;
    top:0px;
    width:84px;
    height:80px;
    background-color: rgb(225, 6, 0);
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.wyszukajBtn:hover{
    background: rgb(51,51,51);
}
.zalogujBtn{
    position: absolute;
    left:1400px;
    top:0px;
    width:84px;
    height:80px;
    background-color: rgb(225, 6, 0);
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 16px;
}
.zalogujBtn:hover{
    background: rgb(51,51,51);
}

.rankingBox{
    position: absolute;
    left:0px;
    top:100px;
    width:100px;
    height:25px;
    background-color: rgb(225, 6, 0);
    border-radius: 0px;
    border-width: 0px;
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.linia{
    position: absolute;
    left:0px;
    top:124px;
    width:100%;
    height:2px;
    background-color: rgb(225, 6, 0);
}
.tableContainer{
    margin-top:50px;
}
table {
    width: 100%;
    border: 1px solid #ddd;
    border-collapse: collapse;
    margin-bottom: 20px;
}

tr:nth-child(even) {background-color: #f2f2f2;}

tr:hover {background-color: #ddd;}

th, td {
    text-align: left;
    padding: 16px;
}

#u0{
    width: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: center;
}
#u01{
    width: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 18px;
    text-align: left;
}

#u1{
    width: 20px;
    font-family: "Montserrat", sans-serif;
    font-weight: 800;
    font-size: 18px;
}
#u2{
    width: 200px;
}

#u3{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

#u4{
    font-family: "Montserrat", sans-serif;
    font-weight: 600;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

#u5{
    font-family: "Montserrat", sans-serif;
    font-weight: 400;
    font-size: 18px;
    width: 200px;
    text-align: center;
}

#u6{
    width: 200px;
    text-align: center;
}

.zobaczWiecejbtn{

    font-family: "Montserrat", sans-serif;
    font-weight: bold;
    font-size: 16px;
    text-align: center;
    background-color: rgb(225, 6, 0);
    color: white;
    border-radius: 5px;
    position:relative;
    width: 150px;
    height: 40px;
    cursor: pointer;
}

.zobaczWiecejbtn:hover{
    background: rgb(51,51,51);
}

footer{
    background-color:rgb(97, 96, 96) ;
    bottom: 0;

}

.footerText{
    text-align: center;
    color: white;
    font-family: "Montserrat", sans-serif;
}