<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formula 1</title>
  <link rel="stylesheet" type="text/css" href="/css/wyszukajWynikiStyles.css"/>
</head>
<body>
<header>

  <nav>
    <img class="logo" src="https://i.ibb.co/5R6Jhqt/logo1.png" alt="logo">
    <ul class="nav__links">
      <li><a href="/">Strona Główna</a></li>
      <li><a href="zespoly.html">Zespoły</a></li>
      <li><a href="terminarz.html">Terminarz</a></li>

    </ul>
    <button class="dodajBtn"><a href="/dodaj">Dodaj</a></button>
    <button class="wyszukajBtn"><a href="/search">Wyszukaj</a></button>
  </nav>
</header>
<div class="rankingBox">
  <h3>Wyszukaj Kierowcę</h3>
</div>
<div class="linia">
</div>
<form class="formContainer" th:action="@{/search}" method="get">

  <label for="search">Wpisz frazę:</label>&emsp;
  <input type="search" id="search" name="keyword" size="50" placeholder="fraza..." required><br><br>
  <input type="submit" value="Szukaj" class="searchDriver">

</form>

  <table class="tableContainer">
    <table>
      <tbody>
      <tr th:each="driver : ${searchResult}">
        <td id="u1" th:text="${driver.id} - 4"></td>
<!--        <td id="u2"><img th:src="@{${driver.logoPath}}"/></td>-->
        <td id="u3" th:text="${driver.nameAndSurename}"></td>
        <td id="u4" th:text="${driver.team}"></td>
        <td id="u5" th:text="${driver.nationality} "></td>
        <td id="u6" th:text="${driver.points} + ' PKT' "></td>
      </tr>
      </tbody>
    </table>
  </table>


</body>
<footer>
  <div class="footerText">
    <img id="footerJpg" src="https://i.ibb.co/pn346zw/footer.png"></img>
    <h3>@2021 Patryk Okrój</h3>
  </div>
</footer>
</html>