<!DOCTYPE html>
<html>
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Formula 1</title>
  <link rel="stylesheet" type="text/css" href="/css/zespolyStyles.css"/>
</head>
<body>
<header>

  <nav>
    <img class="logo" src="saved-images/logo1.png" alt="logo">
    <ul class="nav__links">
      <li><a href="/">Strona Główna</a></li>
      <li><a href="zespoly">Zespoły</a></li>
      <li><a href="terminarz">Terminarz</a></li>

    </ul>
    <button class="dodajBtn"><a href="/dodaj">Dodaj</a></button>
    <button class="wyszukajBtn"><a href="/search">Wyszukaj</a></button>
  </nav>

</header>
<div class="rankingBox">
  <h3>Zespoły</h3>
</div>
<div class="linia">
</div>
<fieldset class="listing-item-wrapper">
  <div class="container1">
    <p id="label1">MERCEDES</p>
    <img id="logo1" src="saved-images/merc.png"></img>
  </div>
  <div class="container2">
    <p id="driver1">Lewis HAMILTON</p>
    <p id="driver2">Valtteri BOTTAS</p>
    <img id="bolid1" src="saved-images/bolidrdy1.png"></img>
  </div>
</fieldset>

<fieldset class="listing-item-wrapper">
  <div class="container1">
    <p id="label1">RED BULL RACING</p>
    <img id="logo1" src="saved-images/Redbull.png"></img>
  </div>
  <div class="container2">
    <p id="driver1">Max VERSTAPPEN</p>
    <p id="driver2">Sergio PEREZ</p>
    <img id="bolid1" src="saved-images/bolid-Redbull.png"></img>
  </div>
</fieldset>

<fieldset class="listing-item-wrapper">
  <div class="container1">
    <p id="label1">ALFA ROMEO</p>
    <img id="logo1" src="saved-images/alfa-logo.png"></img>
  </div>
  <div class="container4">
    <p id="driver1">Kimi RAIKKONEN</p>
    <p id="driver2">Antonio GIOVINAZZI</p>
    <img id="bolid1" src="saved-images/alfa-bolid.png"></img>
  </div>
</fieldset>

<fieldset class="listing-item-wrapper">
  <div class="container1">
    <p id="label1">ALPINE</p>
    <img id="logo1" src="saved-images/alpine.png"></img>
  </div>
  <div class="container4">
    <p id="driver1">Esteban OCON</p>
    <p id="driver2">Fernando ALONSO</p>
    <img id="bolid1" src="saved-images/bolid-alipne.png"></img>
  </div>
</fieldset>
</body>
<footer>
  <div class="footerText">
    <img id="footerJpg" src="saved-images/footer.png"></img>
    <h3>@2021 Patryk Okrój</h3>
  </div>
</footer>
</html>